# Service URLs
BASE_URL=http://localhost
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=webservices
KEYCLOAK_AUTH_GATEWAY_URL=http://localhost:4180
IDENTITY_PROVIDER=keycloak

# Optional: Enable CI mode
# CI=true
